.header {
    width: 100%;

}

.header-ful-width {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-logo {
    width: 17%;
}

.main-menu {
    width: 82%;
}

.main-logo img {
    max-width: 100%;
}

.main-menu nav ul {
    list-style: none;
    display: flex;
}

.main-menu nav ul li a {
    text-decoration: none;
    font-size: 23px;
    display: block;
    padding: 20px 10px 0px 37px;
    color: black;
}

.header {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-logo {
    width: 17%;
}

.main-menu {
    width: 82%;
}

.main-logo img {
    max-width: 100%;
}

.main-menu nav ul {
    list-style: none;
    display: flex;
}

.main-menu nav ul li a {
    text-decoration: none;
    font-size: 22px;
    display: block;
    padding: 20px 10px 20px 37px;
    color: black;
    transition: all 0.5s ease;
}

.main-menu nav ul li a:hover {
    color: white;
    background: darkblue;
}

.fotter {
    width: 1200px;
    margin: auto;
    background: bisque;
}

.fotter-box {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.fotter-box-1 {
    width: 45%;
}

.fotter-box-2 {
    width: 24%;
}

.fotter-box-3 {
    width: 22%;
}

.fotter-contact h1 {
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    padding: 0px 0px 13px;
}

h1 {}

.fotter-orion h1 {
    font-size: 26px;
}

.fotter-orion h2 {
    font-size: 24px;
}

.quick-links h1 {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    padding: 0px 0px 13px 0px;
    /* display: block; */
}

.about-orin h1 a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.about-orin h2 a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.about-orin h3 a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}



.about-orin {
    width: 100%;
}

.fotter-orion h3 {
    font-size: 24px;
}

.fotter-orion h4 {
    font-size: 24px;
}

.follow h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    border-bottom: 2px solid white;
    padding: 0px 0px 13px;
}

.follow-box h1 {
    font-size: 24px;
    color: black;
}

.fotter-border {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.fotter-border h1 {
    font-size: 20px;
    color: black;
    /* border-top: 1px solid white; */
    /* padding: 20px 0px 20px; */
}

li {}

.about-orin ul {
    list-style: none;
    /* margin-top: 0; */
    padding-left: 0;
}

.about-orin ul li a {
    text-decoration: none;
    color: black;
    font-size: 21px;
    padding: 4px 0px;
    display: block;
}

.taking {
    width: 1200px;
    margin: auto;
    background: aquamarine;
    margin-bottom: 51px;
}

.taking-photo-1 {
    width: 24%;
    /* display: flex; */
}

.taking-photo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: -34px;
    flex-wrap: wrap;
}

.taking-text {
    width: 100%;
    /* align-items: center; */
    margin: auto;
    /* padding: 30px 0px; */
    /* background: white; */
    display: flex;
    justify-content: center;
}

.taking-text h1 {
    font-size: 29px;
}

.taking-photo-1 img {
    max-width: 100%;
    border-radius: 20%;
}

.corporate {
    margin: auto;
    WIDTH: 1200PX;
    background: blue;
}

.corporate-box-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: antiquewhite;
}

.corporate-box-2 {
    width: 100%;
}

.corporate-text {
    width: 85%;
}

.corporate-all {
    width: 12%;
}

.corporate-text h1 {
    font-size: 25px;
    text-transform: uppercase;
}

.corporate-all a {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 21px;
    display: block;
}

.corporate-photo-1 {
    width: 32%;
}

.corporate-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.corporate-photo-1 img {
    max-width: 100%;
    border-radius: 12%;
}

.corporate-photo-1 h1 a {
    color: black;
    text-decoration: none;
    font-size: 26px;
}

.corporate-photo-1 h2 a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.news {
    width: 1200px;
    margin: auto;
    /* justify-content: space-between; */
    /* display: flex; */
    background: blueviolet;
}

.news-box-0-1 {
    width: 86%;
}

.news-box-0-2 {
    width: 10%;
}

.news-box-o {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.news-box-0-1 h1 {
    font-size: 24px;
    margin-left: 23px;
    text-transform: uppercase;
}

.news-box-0-2 h1 {
    font-size: 22px;
    text-transform: uppercase;
}

.news-2 {
    /* display: flex; */
    width: 60%;
}

.news-2-1 {
    width: 92%;
    display: flex;
    justify-content: space-between;
    /* padding: 20px 0px; */
    background: cadetblue;
}

.news-1 {
    width: 35%;
}

.news-box {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: auto;
}

.news-1 h1 img {
    max-width: 100%;
}

.news-2-1-photo img {
    max-width: 100%;
}

.news-1 h2 {
    font-size: 21px;
    text-transform: uppercase;
}

.news-1 h3 {
    font-size: 23px;
}

.news-1 h4 {
    font-size: 19px;
}



.news-2-1-photo {
    width: 32%;
}

.news-2-1-text {
    width: 65%;
}

.news-2-1-photo img {
    max-width: 100%;
}

.news-2-1-text h1 {
    font-size: 16px;
}

.news-2-1-text h2 {
    font-size: 13px;
}

.news-2-1-text h3 {
    font-size: 13px;
}

img {
    max-width: 100%;
    height: auto;
}
.about-orion-box {
    width: 1200px;
    margin: auto;
}

.about-orion {
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    background: antiquewhite;
}

.about-orion-1 h1 {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}.about-orion-2 h1 {
    font-size: 22px;
    color: black;
}

.about-orion-2 h2 {
    font-size: 21px;
    color: black;
}

.about-orion-2 h3 {
    font-size: 22px;
}
.header {
    width: 1200px;
    margin: auto;
}

.header-full-withe {
    width: 100%;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
}

.main-logo {
    width: 20%;
}

.main-menu {
    width: 78%;
}




.main-menu ul {
    list-style: none;
    display: flex;
}

.main-menu ul li a {
    text-decoration: none;
    /* display: block; */
    padding: 8px;
    color: black;
    font-size: 16px;
}
.salaider-photo {
    width: 1200px;
    margin: auto;
    border-bottom: 9px solid black;
    margin-bottom: 31px;
}

.salaider-photo img {
    margin-bottom: 35px;
    max-width: 100%;
}.taking-our-nation {
    margin: auto;
    width: 1200px;
    background: aliceblue;
}

.taking-our-nation-1 {width: 100%;padding: 0px 300px;display: block;}

.taking-our-nation-2 {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px 15px;
    margin: auto;
}

.photo-box {
    width: 24%;
}

.photo-box img {
    border-radius: 20%;
}.welcome-to-orion-pharma {
    width: 1200px;
    margin: auto;
    background: border-box;
}

.welcome-to-orion-pharma-text {
    width: 40%;
    margin: auto;
}

.welcome-to-orion-pharma-text-1 {
    width: 95%;
    margin: auto;
}

.welcome-to-orion-pharma-text h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: black;
}

.welcome-to-orion-pharma-text-1 p {
    font-size: 19px;
    color: black;
}.corporate-social-responsibilities {
    width: 1200px;
    margin: auto;
}

.corporate-social-responsibilities-1 {
    width: 95%;
    margin: auto;
}

.corporate-social-responsibilities-2 {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.corporate-social-responsibilities-photo {
    width: 32%;
}

.corporate-social-responsibilities-photo h1 {
    font-size: 20px;
    color: black;
}

.corporate-social-responsibilities-photo img {
    border-radius: 20px;
}